.nav_lien:hover {
  color: #058b8c!important;
}

.visible_lien {
  color: #058b8c;
}

.visible_lien:hover {
  color: #058b8c;
}

.nav_lien:active {
  color: #058b8c!important;
}

.nav_lien:focus{
  color: white!important;
}

.nav_lien {
  font-size: 16px!important;
}

.important {
  color: #058b8c!important;
}

#recepisse_lien {
  margin: 30px;
}

